@page
@model AppwithAI1.Controllers.CreateGraphModel
@{
}
<h1>Enter Activity for Schedule</h1>
@if (Model != null)
{
    <h1>Enter Activity for Schedule</h1>
    <form action="@Url.Action("CreateGraph", "Home")" method="post">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" value="@Model.StartDate" />
        <br />
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" value="@Model.EndDate" />
        <br />
        <label for="taskName">Task Name:</label>
        <input type="text" id="taskName" name="taskName" value="@Model.TaskName" />
        <br />
        <label for="taskDuration">Task Duration:</label>
        <input type="number" id="taskDuration" name="taskDuration" value="@Model.TaskDuration" />
        <br />
        <label for="precedingActivities">Preceding Activities:</label>
        <input type="text" id="precedingActivities" name="precedingActivities" value="@Model.PrecedingActivities" />
        <br />
        <button type="button">Submit</button>
    </form>
}