@page

@model AppwithAI1.Pages.UploadJsonModel
@{
    ViewData["Title"] = "Upload JSON";
}

<h1>Upload JSON</h1>
<div class="dashboard-card">
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="jsonFile" />
        <input type="submit" value="Upload" />
    </form>
</div>



<dashboard>
{
    <table class="dashboard-table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Durations</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Predecessors</th>
                <th>Clustering Coefficient</th>
                <th>Degree Centrality</th>
                <th>Closeness Centrality</th>
                <th>Eigenvector Centrality</th>
                <th>Page Rank</th>
                <th>Path Centrality</th>
                <th>Duration Outliers</th>
                <th>Page Rank Outliers</th>
                <th>Degree Centrality Outliers</th>
                <th>Path Centrality Outliers</th>
                <th>Uncertainty</th>
            </tr>
        </thead>
        <tbody>
 
            {
               /* Test Row*/
                <tr>
                    <td>'item.Number''</td>
                    <td>'item.Name''</td>
                    <td>'item.Durations''</td>
                    <td>'item.Start_Date''</td>
                    <td>'item.Finish_Date''</td>
                    <td>'string.Join(",", item.Predecessors)'</td>
                    <td>'item.Clustering_Coefficient''</td>
                    <td>'item.Degree_Centrality''</td>
                    <td>'item.Closeness_Centrality''</td>
                    <td>'item.Eigenvector_Centrality''</td>
                    <td>'item.Page_Rank''</td>
                    <td>'item.Path_Centrality''</td>
                    <td>'item.Dur_Outliers''</td>
                    <td>'item.PagR_Outliers''</td>
                    <td>'item.DegC_Outliers''</td>
                    <td>'item.PthC_Outliers''</td>
                    <td>'item.Uncertainty''</td>
                </tr>


                @foreach (var item in Model.JsonData)
                {

                    <tr>
                        <td>@item.Number</td>
                        <td>@item.Name</td>
                        <td>@item.Durations</td>
                        <td>@item.Start_Date</td>
                        <td>@item.Finish_Date</td>
                        <td>@string.Join(",", item.Predecessors)</td>
                        <td>@item.Clustering_Coefficient</td>
                        <td>@item.Degree_Centrality</td>
                        <td>@item.Closeness_Centrality</td>
                        <td>@item.Eigenvector_Centrality</td>
                        <td>@item.Page_Rank</td>
                        <td>@item.Path_Centrality</td>
                        <td>@item.Dur_Outliers</td>
                        <td>@item.PagR_Outliers</td>
                        <td>@item.DegC_Outliers</td>
                        <td>@item.PthC_Outliers</td>
                        <td>@item.Uncertainty</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
</dashboard>
